#pp_form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
}

.form-group{
    width: 100%;
    padding: 10px;
}
.form-group.vertical input {
    height: 45px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    width: 100%;
}
#wpuc_alert_box {
    width: 90%;
    padding: 10px;
    margin: 0 auto;
}
.wpuc_success {
    background-color: rgba(172, 255, 47, 0.315);
    font-weight: bold;
    text-align: center;
}
.wpuc_fail {
    background-color: rgba(219, 49, 49, 0.527);
    font-weight: bold;
    text-align: center;
}
.btn.btn-secondary{
    margin-top: 10px;
    background-color: grey;
}
@media screen and (max-width: 950px){
    .form-row{
        width: 100%;
        display: flex;
        flex-direction: column;        
    }
    .form-row input {
        width: 100%;
        margin-left: 0;
    }
}