.pp_container{
    width: 100%;
}
.pp_container > h4{
    text-align: center;
    color: #e15e26;
}
#pp_form, #pp_form_login {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}

.form-group{
    width: 70%;
    margin: 20px 0;
    display: flex;
     flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-group > label {
    align-self: flex-start;
    font-size: 20px;
	color:#000;
}
.form-group.vertical input {
    width: 300px;
    margin: 10px 0;
    height: 45px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 3px 20px;
    border: 2px solid #e15e26;
}
#wpuc_alert_box, #wpuc_alert_box_login {
    width: 90%;
    padding: 10px;
    margin: 0 auto;
}
.wpuc_success {
    background-color: rgba(172, 255, 47, 0.315);
    font-weight: bold;
    text-align: center;
}
.wpuc_fail {
    background-color: rgba(219, 49, 49, 0.527);
    font-weight: bold;
    text-align: center;
}
.btn.btn-secondary{
    margin-top: 10px;
    background-color:#e15e26 !important;
	color:#fff;
	border:2px solid#e15e26;
	font-size:16px;
	font-weight: bold;
	border-radius:5px;
    padding: 15px 30px;
    cursor: pointer;
    width: 300px;
}
#pp_form button:hover{
	color:#e15e26;
	background-color:#fff !important;
}
#pp_form_login button:hover{
	color:#e15e26;
	background-color:#fff !important;
}